{% load static %}
<div class="footer-one">
  <p>Contact: <a href="">humblehamster.contacto@gmail.com</a> </p>
</div>
<div class="footer-two">
  <div class="social-media">
    <a href="https://twitter.com/humble_hamstr" target="blank">
      <img src="{% static 'images/001-twitter.png' %}" alt="Twitter">
    </a>
    <a href="https://www.facebook.com/humblehamster" target="blank">
      <img src="{% static 'images/004-facebook.png' %}" alt="Facebook">
    </a>
    <a href="https://www.youtube.com/channel/UCVTBfbXPvxARo9-_y53Pe5w/" target="blank">
      <img src="{% static 'images/003-youtube.png' %}" alt="Youtube">
    </a>
    <a href="https://www.instagram.com/humble_hamstr" target="blank">
      <img src="{% static 'images/005-instagram.png' %}" alt="Instagram">
    </a>
    <a href="https://linkedin.com/company/humblehamster" target="blank">
      <img src="{% static 'images/002-linkedin.png' %}" alt="Linkedin">
    </a>
    <a href="https://github.com/humblehamster" target="blank">
      <img src="{% static 'images/006-github-logo.png' %}" alt="Github">
    </a>
  </div>
</div>
<div class="footer-bottom">
  <hr>
  <p>© 2020 Copyright <a href="https://www.humblehamster.com">humblehamster.com</a></p>
</div>
